<h1>Test title: <%= @test.title %></h1>
<%= link_to 'Create question', new_test_question_path %>
<br>
<table frame>
  <tr>
    <th>id</th>
    <th>body</th>
    <th>created at</th>
    <th>test_id</th>
  </tr>

  <% @test.questions.each do |q| %>
    <tr>
      <td><%= q.id %></td>
      <td><%= q.body%></td>
      <td><%= q.created_at %></td>
      <td><%= q.test_id %></td>
      <td><%= link_to 'Destroy',question_path(q.id),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>

  <% end %>
 </table>