<h1 class="text-center"> <%= t('.header') %> </h1>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col"><%= t('.question') %></th>
    <th scope="col">URL</th>
    <th scope="col"><%= t('.user') %></th>
    <th scope="col"><%= t('.action') %></th>
  </tr>
  </thead>
  <tbody>
  <%= render @gists %>
  </tbody>
</table>
<%= link_to t('helpers.links.back'), admin_tests_path, class: 'btn btn-light' %>