<h1>Test title: <%= @test.title %></h1>
<p>
  <%= link_to t('helpers.links.create_question'), new_test_question_path, class: 'btn btn-light' %>
</p>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col"> <%= t('.question_column') %> </th>
    <th scope="col" colspan = 3> <%= t('.manage_column') %> </th>
  </tr>
 
  <%= render @test.questions %>

 </table>

 <%= link_to t('helpers.links.back'), :tests, class: 'btn btn-light' %>
 