<div class="row justify-content-left mt-3">
  <div calss="col col-md-4">
      <div class="card-body">
        <%= form_with model: [:admin, @test], local: true do |form| %>
          <%= render 'shared/errors', resource: @test %>
          <div class="form-group">
            <p>
              <%= form.label :title %><br>
              <%= form.text_field :title, id: :test_title, class: 'form-control' %>
            </p>
            
            <p>
              <%= form.label :level %>
              <%= form.number_field :level, id: :test_level, class: 'form-control' %>
            </p>

            <p>
              <%= form.label :timer %>
              <%= form.number_field :timer, id: :test_timer, class: 'form-control' %>
            </p>

            <p>
              <%= form.label :category_id %>
              <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
            </p>
            
            <div class="form-group">
              <p><%= form.submit class: 'btn btn-light' %></p>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
