<tr>
  <td><%= test.title %></td>
  <td><%= test.category.title %></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td>
    <div class="btn-group">
      <%= link_to t('helpers.links.show'), admin_test_path(test), class: 'btn btn-light' %>
      <%= link_to t('helpers.links.edit'), edit_admin_test_url(test), class: 'btn btn-light' %>
      <%= link_to t('helpers.links.delete'), 
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-light' %>
    </div>
  </td>
</tr>
