<div class="card">
  <div class="card-header">
    <h2 class="float-left "><%= t('.header', title: @test.title) %></h2>
  </div>
<div class="card-body">
  <%= link_to t('helpers.links.create_question'), new_admin_test_question_path(@test), class: 'btn btn-light' %>

  <table class="table">
    <tr>
      <th scope="col"> <%= t('.question_column') %> </th>
      <th scope="col" colspan = 3> <%= t('.manage_column') %> </th>
    </tr>
   
    <%= render @test.questions %>
   </table>
   
  <%= link_to t('helpers.links.back'), admin_tests_path, class: 'btn btn-light' %> <%= link_to t('helpers.links.edit'), edit_admin_test_path, class: 'btn btn-light' %>
</div>
