<h1 class="text-center mt-3"><%= t('.header') %></h1><br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= t('.title') %></th>
      <th scope="col"><%= t('.category') %></th>
      <th scope="col"><%= t('.level') %></th>
      <th scope="col"><%= t('.questions') %></th>
      <th scope="col"><%= t('.timer') %></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <%= render @tests %>
</table>
<br>
  