<h1>Test : <%= @test.title %>, Level: <%= @test.level %></h1>
<br>
<table>
  <tr>
    <th>Question</th>
    <th>Manage</th>
  </tr>

  <%= render @test.questions %>

 </table>

<%= link_to 'Back', :tests %>
<%= link_to 'Edit', edit_test_url(@test) %>
